.settingsForm {
    display: flex;
    min-height: 100vh;
    text-align: center;
    align-items: center;
    justify-content: center;
    border: 2;
    background-color: #c5bfbf;
    flex-direction: column;
    
}

.settingsInputForm {
    display: flex;
    padding: 3rem;
    flex-direction: column;
    border: 1px solid  #ff5959;
    border-radius: 10px;
    

}

.settingsFormLabel {
    text-align: left;
    padding: 0.5rem 0;
    font-family: 'Livvic';
    font-size: 20px;
    color: #474747;
}

.settingsFormInput {
    margin: 0.2rem 0;
    font-family: 'Livvic';
    min-width: 400px;
    padding: 1rem;
    border: none;
    border-radius: 10px;
}

.settingsFormButton {
    border: none;
    background-color: #ff5959;
    border-radius: 10px;
    font-family: 'Livvic';
    font-size: 20px;
    color: #474747;
    margin-top: 10px;
    padding: 1rem;
    cursor: pointer;
}

.settingsTitleH2 {
    color: #474747;
    font-family: 'Livvic';
}