.App {
  text-align: center;
}

.navPanel {
}
.navigationDiv {
  background-color: #ffe790;
  max-height: 45px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navLink {
  border: 0px;
  text-decoration: none;
  color: #474747;
  background-color: #ffe790;
  font-family: 'Livvic';
  font-size: 20px;
  margin-left: 100px;
  margin-right: 20px;
}

.navLink:hover {
  color: #ffffff;
}

.iconAccount {
  width: 32px;
  height: 32px;
  filter: grayscale(0%);
}

.mainLabel {
  margin-left: 15px;
  font-family: 'Livvic';
  font-size: 20px;
  display: inline-block;
  color: #474747;
}

.redLabel {
  font-family: 'Livvic';
  font-size: 20px;
  font-weight: bold;
  color: #ff5959;
}
